.rating-stars {

  &_text {

    .rating-stars__value {
      margin-right: 4px;
    }

    .rating-stars__star {
      background: linear-gradient(90deg,#fec84b 0%,#fec84b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-right: 4px;
      border-right: 1px solid #DDDDDD;
    }

    .rating-stars__text {
      margin-left: 4px;
    }

  }
}