.top-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  display: none;
  width: 48px;
  height: 48px;
  //appearance: none;
  cursor: pointer;
  //border-color: var(--accent-color);
  border-style: unset;
  border: 1px solid #DDDDDD;
  z-index: 2;

  path {
    stroke: black;
  }


  &_active {
    display: block;
  }

  &-square-bg-white {
    background-color: #fff;
    right: 78px;
  }

  &-circle-bg-black {
    border-radius: 50%;
    background-color: #000;
    right: 143px;

    path {
      stroke: white;
    }
  }

  &-circle-bg-color {
    border-radius: 50%;
    background-color: red;
    right: 207px;
  }

  @media (max-width: 600px) {
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 10px;
  }
}
