
:root {

  --offsets: 64px;

  @media (max-width: 600px) {
    --offsets: 16px;
  }

  --section-offsets: 48px;

  @media (max-width: 600px) {
    --section-offsets: 32px;
  }

  --offsets18: 18px;

  --header-bg: #fff;




  --border-quote: var( --accent-color);

  --accent-color:#FFDA44;

  --logo-width: 120px;

  --primary-nav-menu-color: #000;
  --primary-nav-submenu-border: rgb(238,238,34);
  --primary-nav-submenu-shadow: rgba(0, 0, 0, 0.1);
  --primary-nav-submenu-border-style: solid;
  --primary-nav-submenu-color: #000;
  --primary-nav-submenu-background: #d7d7d7;
  --primary-nav-submenu-color-hover: #FD5252FF;

  --primary-nav-color-mobile: #fff;
  --primary-nav-background-mobile: #D02E4B;
  --primary-nav-width: 50%;


  --buttons-background: #D02E4B;
  --buttons-background-hover: #fff;
  --buttons-color-text: #fff;
  --buttons-color-hover: #D02E4B;

  --buttons-border-radius: 0;

}





/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

/* Components */
