@use "src/scss/components/primary-nav/primary-nav";
@use "src/scss/components/logo/logo.scss";
@use "src/scss/components/widget/widget-language";
@use "src/scss/components/burger/burger";
@use "header_divider";

.header {
  padding: var(--offsets18) 0;

  &__block {
    display: grid;
    grid-template-columns: max-content 1fr min-content min-content;
    grid-template-rows: auto;
    grid-template-areas:
        "logo primary-nav buttons widget";
    align-items: center;

    gap: 0 16px;

    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr min-content min-content min-content;
      grid-template-areas:
        "logo buttons widget burger";
    }
  }

  &__logo {
    grid-area: logo;
  }

  &__primary-nav {
    grid-area: primary-nav;
  }

  &__widget {
    grid-area: widget;
  }

  &__burger {
    grid-area: burger;
    justify-self: end;
  }

  .container {
    position: unset;
  }
}
