@use "media-text_border-radius";
@use "src/scss/components/welcome-bonus/welcome-bonus";
@use "src/scss/components/rating-stars/rating-stars";

.media-text {
  display: grid;
  gap: 0 64px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;

  &__content {
    >*:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}