.media-text {

  &_border-radius {
    border-radius: 25px;
  }


  &__media {
    .image-func {
      margin: 64px 32px 0 0;
      
      @media (max-width: 1000px) {
        margin: 32px 0 0 0;
      }
    }
  }
}
